.form-container {
    max-width: 400px; /* Adjust the size of the form */
    margin: auto; /* Center the form */
    padding-top: 50px; /* Add some space at the top */
}

.table-mid-container {
    max-width: 800px; /* Adjust the size of the form */
    margin: auto; /* Center the form */
    padding-top: 50px; /* Add some space at the top */
}